.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 20px;
    background-color: antiquewhite;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
    border-radius: 5px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}

.win {
    background: url('confetti-50.webp');
}

.gameover {
    background: url('gameover.gif');
    background-position: center;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: aquamarine;
}

h1 {
    font-size: 3rem;
    color: blueviolet;
    text-shadow: 1px 3px 0 #969696, 1px 10px 5px #aba8a8;
}

button {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: 800;
}

#start {
    background-color: chartreuse;
    border: 2px solid purple;
    color: purple;
}

#start:hover {
    background-color: brown;
    border: 1px solid chartreuse;
    color: chartreuse;
    cursor: pointer;
}

div {
    color: darkorchid;
    font-size: 2rem;
    font-weight: 800;
}

.remove-start-button {
    display: none;
}