body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("creeper-background.jpg");
}

.grid {
    width: 456px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px 5px #000000;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-image: url("dirt.jpg");
}

.mole {
    background-image: url("minecraft-creeper-head.png");
    cursor: pointer;
}

h2 {
    display: inline;
}

h3 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin: 0;
    padding: 0;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
}

#reset-button:hover {
    box-shadow: 6px 6px 5px 0px white;
    border: 2px solid black;
    font-style: oblique;
}


#reset-button {
    background-color: red;
    color: white;
    border: 1px solid black;
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.info {
    margin: 5px;
}

h1 {
    color: #A7DD3C;
    font-size: 3rem;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
}

@media (max-width: 600px) {
    body {
        background-image: url("mobile-wallpaper.jpg");

    }

    h1 {
        font-size: 1.5rem;
    }

    .square {
        height: 100px;
        width: 100px;
    }

    .grid {
        width: 306px;
        height: 306px;
    }

    h2 {
        color: white;
    }

    .mole {
        background-image: url("minecraft-creeper-head-mid.png");
    }

    @media (max-width: 311px) {

        .square {
            height: 50px;
            width: 50px;
        }

        .grid {
            width: 156px;
            height: 156px;
        }

        h3 {
            font-size: 2rem;
        }

        .mole {
            background-image: url("minecraft-creeper-head-small.png");
        }